In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (2.4.1)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (3.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from seaborn) (2.4.1)
Requirement already satisfied: pandas>=1.2 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from seaborn) (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from pandas>=1.2->seaborn) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\documents\github\eda\vrenv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
df = pd.read_csv('marketing_campaign_data(1).csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'marketing_campaign_data(1).csv'

In [6]:
df = pd.read_csv('sales_200_records.csv')
df.head()

   Order_ID  Order_Date  Product Region  Quantity  Unit_Price  Total_Sales
0         1  2025-12-17  Monitor  South         1       27152        27152
1         2  2025-01-22   Tablet  North         1         534          534
2         3  2025-08-14   Tablet  South         8       34074       272592
3         4  2025-12-29   Laptop   East         3       39207       117621
4         5  2025-05-28   Laptop  North         4       44706       178824

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Order_ID     200 non-null    int64
 1   Order_Date   200 non-null    object
 2   Product      200 non-null    object
 3   Region       200 non-null    object
 4   Quantity     200 non-null    int64
 5   Unit_Price   200 non-null    int64
 6   Total_Sales  200 non-null    int64
dtypes: int64(4), object(3)
memory usage: 11.1+ KB

In [8]:
df.isnull().sum()

Order_ID       0
Order_Date     0
Product        0
Region         0
Quantity       0
Unit_Price     0
Total_Sales    0
dtype: int64

In [9]:

df.describe()

         Order_ID    Quantity    Unit_Price   Total_Sales
count  200.000000  200.000000    200.000000     200.00000
mean   100.500000    5.615000  23598.325000  130586.41000
std     57.879185    2.880671  14172.393462  112830.43287
min      1.000000    1.000000    534.000000     534.00000
25%     50.750000    3.000000  11594.250000   33960.00000
50%    100.500000    6.000000  24469.500000   97752.00000
75%    150.250000    8.000000  33832.500000  190957.50000
max    200.000000   10.000000  49556.000000  495560.00000

In [10]:
df.shape

(200, 7)

In [11]:

df.columns

Index(['Order_ID', 'Order_Date', 'Product', 'Region', 'Quantity', 'Unit_Price',
       'Total_Sales'],
      dtype='object')

In [12]:
df.dtypes

Order_ID        int64
Order_Date     object
Product        object
Region         object
Quantity        int64
Unit_Price      int64
Total_Sales     int64
dtype: object

In [13]:
df_healthcare = pd.read_csv('healthcare_patient_data.csv')
df_healthcare

,PatientID,Name,Age,Gender,Diagnosis,TreatmentCost,AdmissionDate,DischargeDate,Outcome,InsuranceProvider
0,3001,Iris Jones,60.0,Female,Heart Disease,18030.76,2024-03-09,2024-03-17,Recovered,Aetna
1,3002,Henry Smith,61.0,Male,Heart Disease,21824.92,2024-08-26,2024-09-08,Stable,NaN
2,3003,Bob Davis,74.0,Female,Pneumonia,NaN,2024-12-25,2025-01-06,Improved,Blue Cross
3,3004,Iris Brown,42.0,Male,Hypertension,43709.32,2024-05-07,2024-05-15,Improved,Aetna
4,3005,Henry Johnson,66.0,Male,Migraine,14013.19,2024-10-26,2024-10-31,Stable,Cigna
...,...,...,...,...,...,...,...,...,...,...
403,3397,David Miller,55.0,Female,COVID-19,43912.05,2024-04-07,2024-04-14,Stable,Aetna
404,3398,David Jones,32.0,Female,Arthritis,7436.19,2024-07-28,2024-08-05,Recovered,UnitedHealth
405,3399,Eve Williams,NaN,Female,Allergies,46873.14,2024-04-24,2024-04-29,Stable,Medicare
406,3400,Jack Williams,48.0,Female,Pneumonia,26811.87,2024-03-05,2024-03-07,Improved,Aetna
407,3400,Jack Williams,48.0,Female,Pneumonia,26811.87,2024-03-05,2024-03-07,Improved,Aetna

In [14]:
df_healthcare.head()

,PatientID,Name,Age,Gender,Diagnosis,TreatmentCost,AdmissionDate,DischargeDate,Outcome,InsuranceProvider
0,3001,Iris Jones,60.0,Female,Heart Disease,18030.76,2024-03-09,2024-03-17,Recovered,Aetna
1,3002,Henry Smith,61.0,Male,Heart Disease,21824.92,2024-08-26,2024-09-08,Stable,NaN
2,3003,Bob Davis,74.0,Female,Pneumonia,NaN,2024-12-25,2025-01-06,Improved,Blue Cross
3,3004,Iris Brown,42.0,Male,Hypertension,43709.32,2024-05-07,2024-05-15,Improved,Aetna
4,3005,Henry Johnson,66.0,Male,Migraine,14013.19,2024-10-26,2024-10-31,Stable,Cigna

In [15]:
df_healthcare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PatientID          408 non-null    int64
 1   Name               408 non-null    object
 2   Age                379 non-null    float64
 3   Gender             408 non-null    object
 4   Diagnosis          408 non-null    object
 5   TreatmentCost      361 non-null    float64
 6   AdmissionDate      408 non-null    object
 7   DischargeDate      408 non-null    object
 8   Outcome            408 non-null    object
 9   InsuranceProvider  338 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 32.0+ KB