<a href="https://colab.research.google.com/github/harissk64/EDA/blob/main/pythonfordataanalyts_haris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
emp_df = pd.read_csv('/content/employee_hr_data (1).csv')
emp_df

,EmployeeID,Name,Age,Gender,Department,Position,Salary,YearsAtCompany,PerformanceRating,EducationLevel
0,2001,Drew Garcia 1,49,Non-Binary,Marketing,Senior,134076.0,11,3.2,High School
1,2002,Casey Martinez 2,43,Male,Operations,Junior,124770.0,15,4.0,Bachelor
2,2003,Jordan Brown 3,22,Non-Binary,Marketing,Manager,47930.0,5,3.3,High School
3,2004,Riley Anderson 4,32,Non-Binary,Operations,Manager,38500.0,8,NaN,PhD
4,2005,Drew Garcia 5,24,Male,Finance,Lead,50920.0,16,3.8,Bachelor
...,...,...,...,...,...,...,...,...,...,...
295,2296,Riley Anderson 296,44,Female,Marketing,Junior,57165.0,17,3.9,Master
296,2297,Jordan Brown 297,50,Non-Binary,HR,Manager,133887.0,11,3.1,High School
297,2298,Morgan Wilson 298,23,Female,Finance,Director,71621.0,7,4.5,High School
298,2299,Casey Martinez 299,35,Female,Sales,Senior,NaN,6,4.9,PhD
299,2300,Morgan Wilson 300,32,Female,Finance,Lead,69260.0,11,3.8,PhD

In [ ]:
# Show first 5 rows
emp_df.head()

,EmployeeID,Name,Age,Gender,Department,Position,Salary,YearsAtCompany,PerformanceRating,EducationLevel
0,2001,Drew Garcia 1,49,Non-Binary,Marketing,Senior,134076.0,11,3.2,High School
1,2002,Casey Martinez 2,43,Male,Operations,Junior,124770.0,15,4.0,Bachelor
2,2003,Jordan Brown 3,22,Non-Binary,Marketing,Manager,47930.0,5,3.3,High School
3,2004,Riley Anderson 4,32,Non-Binary,Operations,Manager,38500.0,8,NaN,PhD
4,2005,Drew Garcia 5,24,Male,Finance,Lead,50920.0,16,3.8,Bachelor

In [ ]:
# Show Name and Department
emp_df[['Name', 'Department']]

                   Name  Department
0         Drew Garcia 1   Marketing
1      Casey Martinez 2  Operations
2        Jordan Brown 3   Marketing
3      Riley Anderson 4  Operations
4         Drew Garcia 5     Finance
..                  ...         ...
295  Riley Anderson 296   Marketing
296    Jordan Brown 297          HR
297   Morgan Wilson 298     Finance
298  Casey Martinez 299       Sales
299   Morgan Wilson 300     Finance

[300 rows x 2 columns]

In [ ]:
# dataframe information
emp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         300 non-null    int64
 1   Name               300 non-null    object
 2   Age                300 non-null    int64
 3   Gender             300 non-null    object
 4   Department         300 non-null    object
 5   Position           300 non-null    object
 6   Salary             285 non-null    float64
 7   YearsAtCompany     300 non-null    int64
 8   PerformanceRating  284 non-null    float64
 9   EducationLevel     300 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 23.6+ KB

In [ ]:
# Check for Missing Values
emp_df.isnull().sum()

EmployeeID            0
Name                  0
Age                   0
Gender                0
Department            0
Position              0
Salary               15
YearsAtCompany        0
PerformanceRating    16
EducationLevel        0
dtype: int64

In [ ]:
# Fill missing value with mean (PerformanceRating)
emp_df['PerformanceRating'].fillna(emp_df['PerformanceRating'].mean(),inplace=True)

/tmp/ipython-input-3643125282.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  emp_df['PerformanceRating'].fillna(emp_df['PerformanceRating'].mean(),inplace=True)

In [ ]:
emp_df.head(10)

,EmployeeID,Name,Age,Gender,Department,Position,Salary,YearsAtCompany,PerformanceRating,EducationLevel
0,2001,Drew Garcia 1,49,Non-Binary,Marketing,Senior,134076.0,11,3.200000,High School
1,2002,Casey Martinez 2,43,Male,Operations,Junior,124770.0,15,4.000000,Bachelor
2,2003,Jordan Brown 3,22,Non-Binary,Marketing,Manager,47930.0,5,3.300000,High School
3,2004,Riley Anderson 4,32,Non-Binary,Operations,Manager,38500.0,8,3.943662,PhD
4,2005,Drew Garcia 5,24,Male,Finance,Lead,50920.0,16,3.800000,Bachelor
5,2006,Jordan Brown 6,46,Non-Binary,IT,Junior,71044.0,8,3.600000,Bachelor
6,2007,Casey Martinez 7,44,Non-Binary,Operations,Senior,92886.0,1,3.500000,Master
7,2008,Taylor Davis 8,48,Male,Finance,Director,87534.0,17,3.500000,Master
8,2009,Quinn Thomas 9,33,Female,HR,Senior,NaN,19,4.800000,PhD
9,2010,Riley Anderson 10,32,Female,Marketing,Senior,57193.0,17,4.300000,PhD

In [ ]:
# Average Performance Rating By Dept
emp_df.groupby('Department')['PerformanceRating'].mean()

Department
Finance       3.889240
HR            3.962236
IT            3.925381
Marketing     3.963333
Operations    3.940366
Sales         4.013060
Name: PerformanceRating, dtype: float64